body {
  /* background-color: red; */
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 5fr;
  grid-template-rows: 1fr 4fr;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  text-align: center;
}

.header {
  background-color: rgb(176, 180, 183);
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-bar {
  background-color: rgb(170, 202, 205);
  grid-row: 1/3;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-heading {
  transform: rotate(-90deg);
  font-size: 130px;
  color: white;
  flex: 1;
}

.main-body {
  background-color: rgb(255, 255, 255);
  grid-row: 2/3;
  grid-column: 2/3;
  padding: 25px;
}

.book-list {
  width: 100%;
  background-color: rgb(208, 214, 214);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 15px;
  padding: 25px;
}

.book {
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  max-height: 30vh;
  min-height: 150px;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
  box-shadow: 2px 6px 8px 2px #47464630;
  border-left: solid 12px gray;
}

.book > span {
  margin-top: auto;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 248, 255, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.modal {
  position: fixed;
  top: 30%;
  left: 30%;
  width: 40%;
  background-color: rgb(208, 214, 214);
  z-index: 2;
  border: 2px solid rgb(86, 87, 87);
  box-shadow: 5px 6px 8px 2px #47464630;
  border-radius: 5px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding: 5px;
}

.modal-form p {
  padding: 10px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

p > label {
  flex: 1;
  min-width: 120px;
}

p input {
  flex: 2;
}

.remove-book-btn {
  align-self: end;
  background-color: white;
  border-style: none;
  border-radius: 5px;
  padding: 3px;
  border: 1px solid grey;
}

.remove-book-btn:hover {
  border: 2px solid grey;
  cursor: pointer;
}

.dom-select-dropdown {
  padding: 5px 5px 5px 5px;
  border: 2px solid #ccc;
  appearance: none;
  border-radius: 5px;
  cursor: pointer;
}

.open-btn {
  min-width: 80px;
  min-height: 60px;
  color: rgb(75, 76, 76);
  font-weight: 600;
  border: 5px solid rgb(170, 202, 205);
  height: 25%;
  width: 10%;
  border-radius: 10px;
}

.open-btn:hover {
  border: 2px solid grey;
  color: grey;
  cursor: pointer;
  box-shadow: 2px 6px 8px 2px #47464630;
  font-size: 0.8em;
}

.exit-btn {
  height: 25px;
  width: 25px;
  align-self: flex-end;
  background-color: rgb(86, 87, 87);
  color: white;
  border-radius: 5px;
}

.exit-btn:hover {
  cursor: pointer;
  box-shadow: 2px 6px 8px 2px #47464630;
  background-color: white;
  border: solid 2px grey;
  color: rgb(86, 87, 87);
}

button {
  box-shadow: none;
  outline: none;
  border-style: none;
}

.modal-form input {
  border-radius: 4px;
  border-style: none;
  height: 1.5em;
  padding: 3px 8px;
  border: 1px solid grey;
}

#submit {
  height: 2em;
}
